:root {
  --black: #272727;
  --desert-storm: #f7f8f8;
  --mine-shaft: #333333;
  --red: #cd424a;
  --silver: #bdbdbd;
  --white: #ffffff;

  --font-size-l2: 16px;
  --font-size-m2: 14px;
  --font-size-xl2: 20px;
  --font-size-xxxxl: 40px;

  --font-family-overpass: "Overpass", Helvetica;
}
.typographyheadlineh2-extrabold-40 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.4px;
}
.typographyheadlineh5-extrabold-20 {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}
.typographybody16-regular {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.typography-body-smalltext-14-regular {
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.overpass-semi-bold-shark-16px {
  color: var(--black);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}
.overpass-semi-bold-mahogany-16px {
  color: var(--red);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}
.overpass-bold-shark-16px {
  color: var(--black);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}
.overpass-semi-bold-silver-16px {
  color: var(--silver);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 600;
}
.overpass-extra-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 800;
}
